{% block footer %}

    <footer class="page-footer">
        <div class="container container-large">
            <div class="row">
                <div class="footer-logo col-12 col-md-3">
                    <a class="navbar-brand" href="{{ path( ezpublish.rootLocation ) }}">
                        {% image '@WetrailAppBundle/Resources/public/img/logo-we-trail.svg' %}
                        <img class="logo-wetrail d-none d-md-block" src="{{ asset_url }}" alt="weTrail">
                        {% endimage %}
                        {% image '@WetrailAppBundle/Resources/public/img/logo-we-trail-footer.png' %}
                        <img class="d-block d-md-none" src="{{ asset_url }}" alt="weTrail">
                        {% endimage %}
                    </a>
                </div>

                <div class="first-column-mobile d-block d-md-none offset-3 col-6 col-item">
                    <h5>Contact</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">contact@wetrail.fr</a>
                        </li>
                        <li class="socials-networks">
                            {% image '@WetrailAppBundle/Resources/public/img/picto-insta.png' %}
                            <a class="social instagram" alt="we trail sur Instagram" href="https://www.instagram.com/wetrail.fr/"><img src="{{ asset_url }}" /></a>
                            {% endimage %}
                            {% image '@WetrailAppBundle/Resources/public/img/picto-fb.png' %}
                            <a class="social facebook" alt="we trail sur Facebook" href="https://www.facebook.com/wetrail.fr/"><img src="{{ asset_url }}" /></a>
                            {% endimage %}
                        </li>
                    </ul>
                </div>

                <div class="col-6 col-md-3 col-item">
                    <h5>Menu</h5>
                    <ul class="list-unstyled">
                        {% for firstLevelMenu in firstLevelMenuItems %}
                        <li>
                            <a href="{{ path(firstLevelMenu) }}">{{ ez_content_name( firstLevelMenu.contentInfo ) }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-6  col-md-3 col-item">
                    <h5>À propos</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ path(aboutUsPage) }}">Qui sommes nous</a>
                        </li>
                    </ul>
                </div>
                <div class="d-none d-md-block col-md-3 col-item">
                    <h5>Contact</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="mailto:contact@wetrail.fr">contact@wetrail.fr</a>
                        </li>
                        <li class="socials-networks">
                            {% image '@WetrailAppBundle/Resources/public/img/picto-insta.png' %}
                            <a class="social instagram" alt="we trail sur Instagram" href="https://www.instagram.com/wetrail.fr/"><img src="{{ asset_url }}" /></a>
                            {% endimage %}
                            {% image '@WetrailAppBundle/Resources/public/img/picto-fb.png' %}
                            <a class="social facebook" alt="we trail sur Facebook" href="https://www.facebook.com/wetrail.fr/"><img src="{{ asset_url }}" /></a>
                            {% endimage %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">
            <a href="#">Mentions légales</a> © 2019 we trail
        </div>
    </footer>



{% endblock %}