{% extends "@ezdesign/pagelayout.html.twig" %}

{% block content %}
<div id="parcours" class="zones">
    <div class="container container-full-width header-cover full-height mb-0">
        <div class="opacity-filter light"></div>

        {{ ez_render_field( content, 'image', { parameters: { 'alias': 'original', 'class': 'img-cover' } } ) }}

        <div class="testing-infos">
            <span class="infos d-none d-md-block">{{ content.versionInfo.creationDate|ez_short_datetime }} | Millau, France | Parcours</span>
            <h1>{{ ez_content_name( location.contentInfo ) }}</h1>
            {% if content.fields['catchphrase'] is defined and not ez_is_field_empty(content, 'catchphrase') %}
                <p class="d-none d-md-block">{{ ez_field_value(content, 'catchphrase') }}</p>
            {% endif %}
        </div>
    </div>

    {% if content.fields['intro'] is defined and not ez_is_field_empty(content, 'intro') %}
    <div class="container container-rich-text">
        <div class="introduction">
            {{ ez_render_field(content, 'intro') }}
        </div>
    </div>
    {% endif %}

    {% if content.fields['table_of_content'] is defined and not ez_is_field_empty(content, 'table_of_content') %}
    <div class="page-summary container container-full-width">
        <div class="content-summary container container-rich-text">
            {{ ez_render_field(content, 'table_of_content') }}
        </div>
    </div>
    {% endif %}


    {% if content.fields['content'] is defined and not ez_is_field_empty(content, 'content') %}
    <div class="container container-rich-text">
        <div class="content">
            {{ ez_render_field(content, 'content') }}
        </div>
    </div>
    {% endif %}

    <div class="container container-medium">
        <div class="article-author row">
            <div class="author-image col-12 col-md-4">
                {% image '@WetrailAppBundle/Resources/public/img/img-autheur.jpg' %}
                <img class="img-cover" src="{{ asset_url }}" />
                {% endimage %}
            </div>
            <div class="author-details col-12 col-md-8">
                <div class="author-title text-center text-md-left text-uppercase">Écrit par</div>
                <div class="author-name text-center text-md-left">Alexia Labbé</div>
                <div class="author-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam lobortis justo, vel cursus sapien. Morbi vel porttitor libero. Sed et maximus turpis. Maecenas consequat, augue nec suscipit interdum, sem nulla congue ante, eget convallis</div>
                <div class="buttons text-uppercase text-center text-md-right">
                    <a href="#" class="btn btn-rond black padding-large">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container container-large">
        <hr />

        <div class="more-content more-articles">
            <h2>Plus d'articles</h2>
            <div class="row">
                <div class="more-content-item col-12 col-md-6 col-xl-4">
                    <div class="thumbnail-content">
                        {% image '@WetrailAppBundle/Resources/public/img/photo-art-recette-related-01.jpg' %}
                        <img class="img-fluid img-cover" src="{{ asset_url }}" alt="" />
                        {% endimage %}
                    </div>
                    <div class="content">
                        <a href="/integration-html/test.php">Plus de légumes pour mieux digérer</a>
                        <p class="description d-none d-md-block">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam lobortis justo, vel cursus sapien. Morbi vel porttitor libero. Sed et maximus
                        </p>
                    </div>
                </div>
                <div class="more-content-item col-12 col-md-6 col-xl-4">
                    <div class="thumbnail-content">
                        {% image '@WetrailAppBundle/Resources/public/img/photo-art-recette-related-02.jpg' %}
                            <img class="img-fluid img-cover" src="{{ asset_url }}" />
                        {% endimage %}
                    </div>
                    <div class="content">
                        <a href="#">Nos petits-déjeuners detox</a>
                        <p class="description d-none d-md-block">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam lobortis justo, vel cursus sapien. Morbi vel porttitor libero. Sed et maximus
                        </p>
                    </div>
                </div>
                <div class="more-content-item col-12 col-md-6 col-xl-4">
                    <div class="thumbnail-content">
                        {% image '@WetrailAppBundle/Resources/public/img/photo-art-recette-related-03.jpg' %}
                            <img class="img-fluid img-cover" src="{{ asset_url }}" />
                        {% endimage %}
                    </div>
                    <div class="content">
                        <a href="#">Les aliments à la mode</a>
                        <p class="description d-none d-md-block">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam lobortis justo, vel cursus sapien. Morbi vel porttitor libero. Sed et maximus
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}