{% extends "@ezdesign/pagelayout.html.twig" %}

{% block content %}
<div id="articlesList" class="zones">
    <div class="container container-full-width header-cover">
        <div class="opacity-filter"></div>
        {% image '@WetrailAppBundle/Resources/public/img/chaussure.jpg' %}
        <img class="img-cover" src="{{ asset_url }}" alt="" />
        {% endimage %}
        <div class="bloc-infos">
            <h1>{{ ez_content_name(content) }}</h1>
        </div>


        {% if subRubricList %}
        <div class="container articles-filters">
            <div class="container-large">
                <ul class="filters-list">
                    <li>
                        <a href="{{ path(mainRubric) }}"{% if (mainRubric.id) ==(location.id) %} class="active"{% endif %}>Tous</a>
                    </li>
                    {% for subRubric in subRubricList %}
                    <span class="d-md-none">|</span>
                    <li>
                        <a href="{{ path(subRubric) }}"{% if (subRubric.id) ==(location.id) %} class="active"{% endif %}>{{ ez_content_name( subRubric.contentInfo ) }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

    </div>


    {% if articlesList %}
    <div class="container container-large news-list margin-top-added">
        <div class="row">
            {% for article in articlesList %}
            <div class="col-news col-12 col-md-6 col-xl-4">
                <div class="news-item">
                    <div class="thumbnail-content">
                        {% image '@WetrailAppBundle/Resources/public/img/technologie.jpg' %}
                            <img class="img-cover" src="{{ asset_url }}" alt="" />
                        {% endimage %}
                    </div>
                    <div class="news-content">
                        <div class="infos">Accessoire | 04/09/2019</div>
                        <a href="{{ path(article) }}">{{ ez_content_name( article.contentInfo ) }}</a>
                        <p class="description d-none d-md-block">
                            Duis rhoncus pharetra leo, id dapibus elit laoreet ac. Aenean rhoncus sed nunc at ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                            Suspendisse commodo consequat erat. Phasellus sit amet pretium sapien, vel aliquam metus. Nam luctus mauris maximus eros lacinia, maximus lacinia velit mattis.
                            Proin in turpis vel mi blandit aliquam in eu nisi.
                        </p>
                        <div class="more d-none d-md-block">En savoir plus ></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination-button buttons text-uppercase text-center">
            <a href="#" class="btn btn-rond black padding-large">Afficher plus</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}