{% extends "@ezdesign/pagelayout.html.twig" %}

{% block content %}
<div id="articlesList" class="zones">
    <div class="container container-full-width header-cover">
        <div class="opacity-filter"></div>
        {% image '@WetrailAppBundle/Resources/public/img/chaussure.jpg' %}
        <img class="img-cover" src="{{ asset_url }}" alt="" />
        {% endimage %}
        <div class="bloc-infos">
            <h1>Équipement</h1>
        </div>
        <div class="container articles-filters">
            <div class="container-large">
                <ul class="filters-list">
                    <li>
                        <a href="#" class="active">Tous</a>
                    </li>
                    <span class="d-md-none">|</span>
                    <li>
                        <a href="#">Chaussures</a>
                    </li>
                    <span class="d-md-none">|</span>
                    <li>
                        <a href="#">Textile</a>
                    </li>
                    <span class="d-md-none">|</span>
                    <li>
                        <a href="#">Accessoires</a>
                    </li>
                    <span class="d-md-none">|</span>
                    <li>
                        <a href="#">Technologie</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container container-large news-list margin-top-added">
        <div class="row">
            <div class="col-news col-12 col-md-6 col-xl-4">
                <div class="news-item">
                    <div class="thumbnail-content">
                        {% image '@WetrailAppBundle/Resources/public/img/technologie.jpg' %}
                            <img class="img-cover" src="{{ asset_url }}" alt="" />
                        {% endimage %}
                    </div>
                    <div class="news-content">
                        <div class="infos">Accessoire | 04/09/2019</div>
                        <a href="#">Test : Garmin Forerunner 645</a>
                        <p class="description d-none d-md-block">
                            Duis rhoncus pharetra leo, id dapibus elit laoreet ac. Aenean rhoncus sed nunc at ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                            Suspendisse commodo consequat erat. Phasellus sit amet pretium sapien, vel aliquam metus. Nam luctus mauris maximus eros lacinia, maximus lacinia velit mattis.
                            Proin in turpis vel mi blandit aliquam in eu nisi.
                        </p>
                        <div class="more d-none d-md-block">En savoir plus ></div>
                    </div>
                </div>
            </div>
            <div class="col-news col-12 col-md-6 col-xl-4">
                <div class="news-item">
                    <div class="thumbnail-content">
                        {% image '@WetrailAppBundle/Resources/public/img/textile.jpg' %}
                            <img class="img-cover" src="{{ asset_url }}" alt="" />
                        {% endimage %}
                    </div>
                    <div class="news-content">
                        <div class="infos">Équipement | 04/09/2019</div>
                        <a href="#">Courir sous la pluie</a>
                        <p class="description d-none d-md-block">
                            Duis rhoncus pharetra leo, id dapibus elit laoreet ac. Aenean rhoncus sed nunc at ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                            Suspendisse commodo consequat erat. Phasellus sit amet pretium sapien, vel aliquam metus. Nam luctus mauris maximus eros lacinia, maximus lacinia velit mattis.
                            Proin in turpis vel mi blandit aliquam in eu nisi.
                        </p>
                        <div class="more d-none d-md-block">En savoir plus ></div>
                    </div>
                </div>
            </div>
            <div class="col-news col-12 col-md-6 col-xl-4">
                <div class="news-item">
                    <div class="thumbnail-content">
                        {% image '@WetrailAppBundle/Resources/public/img/accessoires.jpg' %}
                            <img class="img-cover" src="{{ asset_url }}" alt="" />
                        {% endimage %}
                    </div>
                    <div class="news-content">
                        <div class="infos">Accessoire | 04/09/2019</div>
                        <a href="#">Le renforcement : est-ce vraiment une obligation ?</a>
                        <p class="description d-none d-md-block">
                            Duis rhoncus pharetra leo, id dapibus elit laoreet ac. Aenean rhoncus sed nunc at ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                            Suspendisse commodo consequat erat. Phasellus sit amet pretium sapien, vel aliquam metus. Nam luctus mauris maximus eros lacinia, maximus lacinia velit mattis.
                            Proin in turpis vel mi blandit aliquam in eu nisi.
                        </p>
                        <div class="more d-none d-md-block">En savoir plus ></div>
                    </div>
                </div>
            </div>
            <div class="col-news col-12 col-md-6 col-xl-4">
                <div class="news-item">
                    <div class="thumbnail-content">
                        {% image '@WetrailAppBundle/Resources/public/img/chaussure.jpg' %}
                            <img class="img-cover" src="{{ asset_url }}" alt="" />
                        {% endimage %}
                    </div>
                    <div class="news-content">
                        <div class="infos">Accessoire | 04/09/2019</div>
                        <a href="#">Test : La nouvelle Garmin Forerunner 645</a>
                        <p class="description d-none d-md-block">
                            Duis rhoncus pharetra leo, id dapibus elit laoreet ac. Aenean rhoncus sed nunc at ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                            Suspendisse commodo consequat erat. Phasellus sit amet pretium sapien, vel aliquam metus. Nam luctus mauris maximus eros lacinia, maximus lacinia velit mattis.
                            Proin in turpis vel mi blandit aliquam in eu nisi.
                        </p>
                        <div class="more d-none d-md-block">En savoir plus ></div>
                    </div>
                </div>
            </div>
            <div class="col-news col-12 col-md-6 col-xl-4">
                <div class="news-item">
                    <div class="thumbnail-content">
                        {% image '@WetrailAppBundle/Resources/public/img/deadlift.jpg' %}
                            <img class="img-cover" src="{{ asset_url }}" alt="" />
                        {% endimage %}
                    </div>
                    <div class="news-content">
                        <div class="infos">Équipement | 04/09/2019</div>
                        <a href="#">Courir sous la pluie</a>
                        <p class="description d-none d-md-block">
                            Duis rhoncus pharetra leo, id dapibus elit laoreet ac. Aenean rhoncus sed nunc at ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                            Suspendisse commodo consequat erat. Phasellus sit amet pretium sapien, vel aliquam metus. Nam luctus mauris maximus eros lacinia, maximus lacinia velit mattis.
                            Proin in turpis vel mi blandit aliquam in eu nisi.
                        </p>
                        <div class="more d-none d-md-block">En savoir plus ></div>
                    </div>
                </div>
            </div>
            <div class="col-news col-12 col-md-6 col-xl-4">
                <div class="news-item">
                    <div class="thumbnail-content">
                        {% image '@WetrailAppBundle/Resources/public/img/food.jpg' %}
                            <img class="img-cover" src="{{ asset_url }}" alt="" />
                        {% endimage %}
                    </div>
                    <div class="news-content">
                        <div class="infos">Accessoire | 04/09/2019</div>
                        <a href="#">Le renforcement : un obligation ?</a>
                        <p class="description d-none d-md-block">
                            Duis rhoncus pharetra leo, id dapibus elit laoreet ac. Aenean rhoncus sed nunc at ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                            Suspendisse commodo consequat erat. Phasellus sit amet pretium sapien, vel aliquam metus. Nam luctus mauris maximus eros lacinia, maximus lacinia velit mattis.
                            Proin in turpis vel mi blandit aliquam in eu nisi.
                        </p>
                        <div class="more d-none d-md-block">En savoir plus ></div>
                    </div>
                </div>
            </div>
            <div class="col-news col-12 col-md-6 col-xl-4">
                <div class="news-item">
                    <div class="thumbnail-content">
                        {% image '@WetrailAppBundle/Resources/public/img/light_stairs_nature.jpg' %}
                            <img class="img-cover" src="{{ asset_url }}" alt="" />
                        {% endimage %}
                    </div>
                    <div class="news-content">
                        <div class="infos">Accessoire | 04/09/2019</div>
                        <a href="#">Test : Garmin Forerunner 645</a>
                        <p class="description d-none d-md-block">
                            Duis rhoncus pharetra leo, id dapibus elit laoreet ac. Aenean rhoncus sed nunc at ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                            Suspendisse commodo consequat erat. Phasellus sit amet pretium sapien, vel aliquam metus. Nam luctus mauris maximus eros lacinia, maximus lacinia velit mattis.
                            Proin in turpis vel mi blandit aliquam in eu nisi.
                        </p>
                        <div class="more d-none d-md-block">En savoir plus ></div>
                    </div>
                </div>
            </div>
            <div class="col-news col-12 col-md-6 col-xl-4">
                <div class="news-item">
                    <div class="thumbnail-content">
                        {% image '@WetrailAppBundle/Resources/public/img/trail_soleil.jpg' %}
                            <img class="img-cover" src="{{ asset_url }}" alt="" />
                        {% endimage %}
                    </div>
                    <div class="news-content">
                        <div class="infos">Équipement | 04/09/2019</div>
                        <a href="#">Courir sous la pluie, bonne idée ou danger  pour votre corps ?</a>
                        <p class="description d-none d-md-block">
                            Duis rhoncus pharetra leo, id dapibus elit laoreet ac. Aenean rhoncus sed nunc at ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                            Suspendisse commodo consequat erat. Phasellus sit amet pretium sapien, vel aliquam metus. Nam luctus mauris maximus eros lacinia, maximus lacinia velit mattis.
                            Proin in turpis vel mi blandit aliquam in eu nisi.
                        </p>
                        <div class="more d-none d-md-block">En savoir plus ></div>
                    </div>
                </div>
            </div>
            <div class="col-news col-12 col-md-6 col-xl-4">
                <div class="news-item">
                    <div class="thumbnail-content">
                        {% image '@WetrailAppBundle/Resources/public/img/healthy_food.jpg' %}
                            <img class="img-cover" src="{{ asset_url }}" alt="" />
                        {% endimage %}
                    </div>
                    <div class="news-content">
                        <div class="infos">Accessoire | 04/09/2019</div>
                        <a href="#">Le renforcement : un obligation ?</a>
                        <p class="description d-none d-md-block">
                            Duis rhoncus pharetra leo, id dapibus elit laoreet ac. Aenean rhoncus sed nunc at ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                            Suspendisse commodo consequat erat. Phasellus sit amet pretium sapien, vel aliquam metus. Nam luctus mauris maximus eros lacinia, maximus lacinia velit mattis.
                            Proin in turpis vel mi blandit aliquam in eu nisi.
                        </p>
                        <div class="more d-none d-md-block">En savoir plus ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-button buttons text-uppercase text-center">
            <a href="#" class="btn btn-rond black padding-large">Afficher plus</a>
        </div>
    </div>
</div>
{% endblock %}